*{
    text-align: center;
    font-family: Helvetica, sans-serif;
}
img{
    width: 150px;
}
.info{
    transition: transform .2s;
}
.info > p {
    background-color: rgba(100, 100, 150, 0.5);
}
.info:hover{
    transform: scale(1.1);
    cursor: pointer;
}
select{
    padding: 10px;
    margin-bottom: 10px;
}